services:
  certbot:
    image: certbot/certbot:latest
    entrypoint: ["/bin/sh","-c"]
    command: "sh /work/certbot-run.sh"
    ports:
      - "80:80"
    volumes:
      - letsencrypt:/etc/letsencrypt
      - .:/work:ro
    restart: unless-stopped

  mm2:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    command: >-
      sh -c "until [ -f /etc/letsencrypt/live/${DOMAIN}/fullchain.pem ] && 
                    [ -f /etc/letsencrypt/live/${DOMAIN}/privkey.pem ]; do 
                  echo 'Waiting for certificates...'; sleep 10; done; 
              ./run_mm2.sh"
    environment:
      - USERPASS=${USERPASS:-RPC_UserP@SSW0RD}
      - DOMAIN=${DOMAIN}
      - PASSPHRASE=${PASSPHRASE:-}
    volumes:
      - .:/home/komodian/kdf
      - letsencrypt:/etc/letsencrypt:ro
    expose:
      - "7783"
    ports:
      - "42855:42855"
    depends_on:
      - certbot

volumes:
  letsencrypt:


